# 제어문(Control flow statement)
기본적으로 프로그램은 순차구조를 가진다. 즉 작성한 순서대로 실행이 된다.  
이런 실행흐름을 다른 순서로 제어하기 위한 구문을 만드는 문법이 제어문이다.  
제어문은 **조건문** 과 **반복문** 두가지 문법이 있다.
- **조건문**
    - if 문
- **반복문**
    - while 문
    - for in 문

# 조건문/분기문 (conditional statement)
- 프로그램이 명령문들을 실행하는 도중 특정 순서에서 **조건에 따라 흐름의 나눠져야 하는 경우 사용한다**
- 파이썬은 조건문으로 **if문**이 있다.

![조건문](images/ch03_01.png)

<center>입력 받은 a 의 값이 0인지 여부에 따라 두가지 흐름으로 분기된다.</center>

## 구문

- 조건이 True일 경우만 특정 구문들을 실행 하는 조건문.
```python
if 조건:    # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다.
    명령문1  # 조건이 True이면 실행할 구문들을 코드블럭에 기술한다.
    명령문2  # 코드 블록은 들여쓰기를 이용해 묶어준다. 보통 공백 4칸으로 들여쓰기를 한다.
    ...
```
> ### 파이썬의 코드블록(code block)  
> 코드블록이란 **여러 명령문들을 묶어놓은 것을** 말한다. 코드블록으로 묶이면 실행시 같이 다 실행되고 실행이 안되면 같이 다 실행이 안된다.    
> 파이썬에서는 코드블록을 작성할 때 **들여쓰기를 이용해 묶어준다.**   
> 같은 칸만큼 들여쓰기를 한 명령문들이 같은 블록으로 묶인다.
> 들여쓰기는 관례적으로 **공백 4칸을** 사용한다. 

> ### pass 키워드(예약어)
> - 빈 구현부를 만들때 사용
>     - 제어문, 함수의 body 코드블럭은 비울 수 없다. 반드시 명령문을 한개 이상 작성해야한다. 
>     - 작성할 내용이 없을 경우 사용하는 키워드로 `pass`를 사용한다. 
>     - `...` 을 대신 사용할 수 있다.

In [18]:
num = int(input("정수: "))
if num == 0:
    print("영입니다.")
    print("Zero입니다.")
else:
    print("0이 아닙니다.")

print("얼마 안 남았다. 화이팅")

정수:  0

영입니다.
Zero입니다.
얼마 안 남았다. 화이팅

- **조건이 True일때 실행할 구문과 False일때 실행하는 조건문.**
```python
if 조건:     
    명령문1_1 # 조건이 True일 경우 실행할 구문들
    명령문1_2
    ...
else:
    명령문2_1 # 조건이 False일 경우 실행할 구문들
    명령문2_2
    ...
```

- **조건이 여러 개인 조건문.**
```python
if 조건1:
    명령문1_1  # 조건1이 True일 경우 실행할 코드블록. 
    명령문1_2
    ...
elif 조건2:    # 다음 조건으로 앞의 조건들이 모드 False일 경우 비교한다.
    명령문2_1  # 조건2가 True일 경우 실행할 코드블록.
    명령문2_2
    ...
elif 조건3 :
    명령문3_1
    명령문3_2
    ...
else:         # 위의 모든 조건이 False일 경우 실행하는 코드블록. 생략 가능하다.
    명령문4
```

In [42]:
num = int(input("정수: "))

if num > 0:
    print(f"{num}은 양수입니다.")
elif num == 0:
    print("0입니다.")
# elif num < 0:
#     print(f"{num}은 음수입니다.")
else:
    print(f"{num}은 음수입니다.")


print("종료")

정수:  -5

-5은 음수입니다.
종료

In [48]:
100_000

100000

# 반복문 (Loop statement)

특정 구문들을 반복해서 실행할 때 사용한다. 동일한 코드를 여러번 반복하거나 값이 일정하게 변하는 코드를 반복할 경우 사용한다.  
단순 반복을 처리하는 **while문**과 iterable객체가 제공하는 값들을 반복 조회하는 **for in문** 두가지 문법이 있다.

![반복문](images/ch03_02.png)
<center>count의 값이 limit의 값보다 크거나 같을때 까지 count의 값을 1증가 후 출력하는 구문을 반복한다. </center>

## while문
- 조건이 True인 동안 구문을 반복해서 실행한다.

### 구문
```python
while 조건:       # 조건은 bool 표현식을 기술한다. 조건선언 다음에 : 으로 선언해서 코드블록을 구분한다
    반복할 구문1  # 반복할 구문을 코드블록으로 작성한다.  
    반복할 구문2
    ...
```

In [1]:
# 조건식에 사용할 변수들 선언.
count = 0 
limit = 10

while count < limit: # 조건식
    print(count)
    count += 1 # 조건식의 변화를 설정 -> while 구문이 종료되도록.

print("end")

0
1
2
3
4
5
6
7
8
9
end

In [2]:
count = 0 

while count < 10:
    print(f"{count+1}. 안녕하세요!")
    count += 1 # 될 때까지 반복한다는 것.

1. 안녕하세요!
2. 안녕하세요!
3. 안녕하세요!
4. 안녕하세요!
5. 안녕하세요!
6. 안녕하세요!
7. 안녕하세요!
8. 안녕하세요!
9. 안녕하세요!
10. 안녕하세요!

## for  in 문
- Iterable 객체를 순환조회하는 구문
    - for in문은 Iterable 타입의 객체가 가지고 있는 값들을 하나씩 처리하는 구문을 작성할 때 사용한다.

> - **Iterable**
>    - 반복가능한 객체. 반복문(for in)을 이용해 일련의 값들을 반복적으로 각각 제공하는 객체를 말한다. 
>    - 대표적으로 List, Tuple, Dictionary, Set, 문자열 등이 있다.

### 구문
```python
for 변수 in Iterable: # for in 선언후 : 으로 선언부와 구현부를 나눈다.
    반복구문          # Iterable이 반복시 제공하는 값을 가지는 "변수"를 이용해 값들을 처리하는 구문을 코드블록으로 작성한다.
    반복구문
```

In [8]:
a = [1,2,3,4,5]
it = iter(a)
while True:
    try:
        v = next(it)
        print(v)
    except:
        break
    # error도 False의 한 종류로 볼 수 있다.

1
2
3
4
5

In [5]:
next(it)

1

In [6]:
next(it)

2

In [78]:
for key in {"a":1, "b":2}:
    print(key)

a
b

In [79]:
for char in "가나다라마바사아자차카타파하":
    print(char)

가
나
다
라
마
바
사
아
자
차
카
타
파
하

In [81]:
list = [3,2,1,5,6,13,3,6,7,8,0]

for i in list:
    print(list)

[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]
[3, 2, 1, 5, 6, 13, 3, 6, 7, 8, 0]

In [91]:
l2 = [
    (1,2,3),
    (10,20,30),
    (100,200,300)
]

In [93]:
# l2의 원소들을 모두 각각 출력
for t in l2: # tuple을 지정
    for v in t: # tuple 내부의 원소를 지정 
        print(v)

1
2
3
10
20
30
100
200
300

## continue와 break를 이용한 반복문 제어
- **continue**
    - 실행 블록에서 continue가 실행되면 현재 반복을 중단하고 다음 반복을 진행한다.
    - 특정 조건에서 처리를 멈추고 다음 처리를 반복할 때 사용한다.
- **break**
    - 반복문 실행을 중단한다.
    - 특정 조건에서 반복문을 중간에 중지할때 사용한다.
- continue와 break는 특정 조건에서 실행되야 하는 경우가 대부분이므로 if문 안에 작성한다.

In [20]:
l = [1,2,3,4,5,6,7,8,9,10,11]
# 3의 배수가 아닌 것
for v in l:
    if v % 3 == 0: # 출력하지 말아야 하는 조건
        continue # 아래 부분을 실행하지 말고 다음 반복을 계속해라.

    print(v)

# continue와 breadk는 반복문 안에 들어온다.

1
2
4
5
7
8
10
11

In [21]:
# 값이 7이면 반복을 종료
for v in l:
    if v == 7:
        break
    print(v)

1
2
3
4
5
6

In [153]:
import random
random.randint(0,10) # 0 - 10 사이의 Random 범위 내의 정수 값을 생성.

0

In [164]:
# -100 ~ 100 사이의 랜덤 정수를 생성.
# 양수와 음수를 따로 저장
# 0일 경우에는 종료. 

negative = []
positive = []

while True:
    num = random.randint(-100,100)
    if num > 0:
        positive.append(num)
    elif num < 0:
        negative.append(num)
    else:
        break

print(negative)
print(positive)

def avg(self):
    sum_up = 0
    avg = 0
    
    for i in range(len(self)):
        sum_up = sum_up + self[i]
    
    avg = sum_up / len(self)

    return avg

print("avg of negative num : ", avg(negative), "\navg of positive num : ", avg(positive))

[-23, -80, -3, -34, -55, -65, -88, -26, -100, -25, -11, -54, -89, -29, -17, -27, -91, -62, -66, -78, -59, -74, -87, -1, -99, -9, -95, -98, -67, -98, -74, -39, -89, -11, -79, -75, -4, -69, -24, -24, -92, -58, -79, -66, -84, -75, -94, -68, -55, -21, -87, -18, -70, -6, -36, -17, -19, -57, -27, -21, -37, -32, -100, -28, -24, -19, -27, -23, -49, -77, -48, -81, -89, -65]
[78, 78, 73, 77, 4, 23, 74, 82, 77, 77, 37, 39, 15, 1, 45, 49, 52, 9, 56, 61, 13, 84, 73, 89, 28, 63, 35, 58, 11, 1, 16, 43, 51, 83, 72, 29, 92, 18, 74, 55, 39, 94, 53, 31, 79, 77, 48, 95, 7, 93, 76, 68, 23, 100, 77, 47, 78, 70, 88, 7, 30, 92, 67, 28, 9, 28, 95, 30, 15, 16, 62, 89, 98, 84, 49]
avg of negative num :  -53.33783783783784
avg of positive num :  53.82666666666667

In [168]:
# -100 ~ 100 사이의 랜덤 정수를 생성.
# 양수만 저장
# 0일 경우에는 종료

result=[]
while True:
    num = random.randint(-100,100)
    if num == 0:
        break
    elif num < 0:
        continue
    result.append(num)

print(result)
print("\n",avg(result))

[74, 96, 93, 73, 84, 96, 76, 63, 23, 67, 33, 52, 77, 60, 76, 93, 38, 35, 5, 10, 93, 9, 89, 7, 8, 91, 78, 42, 77, 37, 37, 94, 66, 25, 54, 30, 45, 83, 78, 54, 17, 76, 96, 28, 27, 10, 95, 82, 2, 58, 43, 65, 72, 32, 48, 58, 41, 39, 87, 64, 38, 20, 21, 80, 73, 69, 44, 50, 9, 33, 70, 47, 70, 89, 100, 32, 58, 79, 72, 66, 93, 29, 53, 9]

 55.535714285714285

## for in 문 연관 내장 함수

### range()
- 일정한 간격의 연속된 정수를 제공하는 반복가능 객체 생성한다.
- 구문
    - `range([시작값], 멈춤값, [증감값])`
        - 시작값, 멈춤값, 증감값 모두 정수만 가능하다.
        - 시작값 > 멈춤값 이고 증감값이 음수이면 내림차순으로 값을 제공한다.
        1. 전달값이 **1개: 멈춤값**. 
            - 0 ~ (멈춤값-1)까지 1씩 증가하는 정수를 제공
        2. 전달값이 **2개: 시작값, 멈춤값**. 
            - 시작값 ~ (멈춤값-1) 까지 1씩 증가하는 정수 제공
        3. 전달값이 **3개: 시작값, 멈춤값, 증감값(간격)**. 
            - 시작값 ~ (멈춤값-1)까지 증감값만큼 증가하는 정수를 제공.

In [17]:
for data in range(100,50,-5):
    print(data)

100
95
90
85
80
75
70
65
60
55

In [169]:
for v in range(-10,10):
    print(v,end=",")

-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4,5,6,7,8,9,

In [ ]:
# range는 정수만 가능

In [170]:
# range(): iterable
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [172]:
l = list(range(10,100,5))
l

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95]

In [173]:
l = tuple(range(10,20,2))
l

(10, 12, 14, 16, 18)

In [174]:
for _ in range(5): # 변수명으로 '_' 사용 : 이 변수는 for 문 내부에서 활용하지 않는다. / 범위가 정해진 반복만 할 경우. 
    print(v)

9
9
9
9
9

In [175]:
num = []
for _ in range(9):
    num.append(random.randint(1,999))

num

[216, 344, 613, 927, 12, 56, 813, 164, 707]

## enumerate()

- 구문
    - `enumerate(Iterable,  [, start=정수])`
        - 현재 몇번째 값을 제공하는 지(현재 몇번째 반복인지)를 나타내는 **index**와 제공하는 **원소**를 tuple로 묶어서 반환
        - Iterable
            - 값을 제공할 Iterable객체
        - start: 정수
            - index 시작 값. 생략하면 0부터 시작한다.

In [176]:
l = list('abcde')
l

['a', 'b', 'c', 'd', 'e']

In [184]:
for v in enumerate(l,start=1): # tuple (index, value)
    print(f"{v[0]}. {v[1]}") # enumerate는 순번과 데이터를 동시에 쓰기 위해 활용.

1. a
2. b
3. c
4. d
5. e

In [186]:
v1, v2 = (1,'a')
print(v1, v2)

1 a

In [192]:
for index, value in enumerate(l): # tuple 대입
    if index == 3:
        continue
    print(index, value) # tuple 순번 / index는 지정안할시 순서대로, value는 index에 종속.

0 a
1 b
2 c
4 e

In [196]:
# 0 ~ 1_000_000 누적합계
# 결과를 10만번당 한번씩 출력
result = 0 # 합계결과를 저장할 변수
for idx, v in enumerate(range(1_000_001)):
    result += v
    if idx % 100_000 == 0:
        print(f"{idx}번째 결과: {result}")

print("final result:",format(result,","))

0번째 결과: 0
100000번째 결과: 5000050000
200000번째 결과: 20000100000
300000번째 결과: 45000150000
400000번째 결과: 80000200000
500000번째 결과: 125000250000
600000번째 결과: 180000300000
700000번째 결과: 245000350000
800000번째 결과: 320000400000
900000번째 결과: 405000450000
1000000번째 결과: 500000500000
final result: 500,000,500,000

## zip()
- 여러 개의 Iterable 객체를 받아 반복시 같은 index의 값끼리 튜플로 묶어 반환한다.
- 구문
    - `zip(Iterable1, Iterable2, Iterable3 [, .......])`
        - Iterable 2개이상.전달한다.
- 각 Iterable이 제공하는 원소의 개수가가 다를 경우 가장 적은 것의 개수에 맞춰 반복한다.

In [202]:
names = ["이순신","유관순","강감찬"]
ages = [30,40,50]
address = ["서울","인천","부산"]

info = []
for i in zip(names,ages,address): # variable is tuple
    info.append(i)

info

[('이순신', 30, '서울'), ('유관순', 40, '인천'), ('강감찬', 50, '부산')]

In [205]:
for v in zip(names, ages, address):
    print(f"이름: {v[0]}, 나이: {v[1]}, 주소: {v[2]}")
    print("이름은 {}, 나이는 {}, 주소는 {}".format(v[0],v[1],v[2]))

이름: 이순신, 나이: 30, 주소: 서울
이름은 이순신, 나이는 30, 주소는 서울
이름: 유관순, 나이: 40, 주소: 인천
이름은 유관순, 나이는 40, 주소는 인천
이름: 강감찬, 나이: 50, 주소: 부산
이름은 강감찬, 나이는 50, 주소는 부산

In [206]:
for v in enumerate(zip(names, ages, address)):
    print(v) # 반복문 자료 형식 보는 법

(0, ('이순신', 30, '서울'))
(1, ('유관순', 40, '인천'))
(2, ('강감찬', 50, '부산'))

In [207]:
for v in enumerate(zip(names, ages, address)):
    print(v[0], v[1][0], v[1][1], v[1][2])

0 이순신 30 서울
1 유관순 40 인천
2 강감찬 50 부산

In [208]:
a1, a2 = (0, ('a','b','c'))
print(a1)
print(a2)

0
('a', 'b', 'c')

In [209]:
a1, (a2, a3, a4) = (0, ('a','b','c'))
print(a1, a2, a3,a4)

0 a b c

In [211]:
for index, (name, age, address) in enumerate(zip(names, ages, address)):
    print(f"{index+1}. {name}, {age}, {address}")

1. 이순신, 30, 서울
2. 유관순, 40, 인천
3. 강감찬, 50, 부산

# 컴프리헨션(Comprehension)

- 기존 Iterable의 원소들을 이용해서 새로운 자료구조(List, Dictionary, Set)를 생성하는 구문.
    - 기존 Iterable의 **원소들을 처리한 결과**나  **특정 조건이 True인 값들을** 새로운 자료구조에 넣을때 사용.
    - 결과를 넣을 새로운 자료구조 타입에 따라 다음 세가지가 있다.
        - 리스트 컴프리헨션
        - 딕셔너리  컴프리헨션
        - 셋  컴프리헨션
- **튜플 컴프리헨션**은 tuple() 함수를 이용해서 만든다.
- **딕셔너리 컴프리헨션**과 **셋 컴프리헨션**은 파이썬 3 에 새로 추가되었다.
-   컴프리헨션 문법은 iterable 을 타입을 넣는 곳에서는 다 적용할 수있다.

In [213]:
l1 = list(range(1,10))
result = []
for v in l1:
    result.append(v*10)

result # 이 구문을 표현식으로 만든 것이 comprehension

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [214]:
c_result = [v*10 for v in l1] # 리스트 컴프리헨션
c_result

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [224]:
result3 = {}
for idx, value in enumerate(l1):
    result3[idx] = value * 10

result3

{0: 10, 1: 20, 2: 30, 3: 40, 4: 50, 5: 60, 6: 70, 7: 80, 8: 90}

In [225]:
list(v*100 for v in l1)
set(v*100 for v in l1)

{100, 200, 300, 400, 500, 600, 700, 800, 900}

In [226]:
tuple(v*100 for v in l1) # when use comprehansion to make tuple, must use tuple()

(100, 200, 300, 400, 500, 600, 700, 800, 900)

In [227]:
[v*100 for v in l1]

[100, 200, 300, 400, 500, 600, 700, 800, 900]

In [228]:
{v*100 for v in l1}

{100, 200, 300, 400, 500, 600, 700, 800, 900}

In [231]:
result = [] # 양수만 저장. 
for v in range(-10,11):
    if v > 0:
        result.append(v)

result

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [233]:
[v*10 for v in range(-10,11) if v > 0]

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

comprehension 구문 독특하네.

In [235]:
[v * 10 for v in range(-10,10) if v < 0]

[-100, -90, -80, -70, -60, -50, -40, -30, -20, -10]

이런 반복문 조건문 형태를 많이 쓰기에 comprehension구문을 만들었을 것이다.

In [237]:
l = [
    [1,2,3],
    [10,20,30]
]

# 3의 배수만 찾아서 +5를 한다. 
result = []
for v in l:
    for value in v:
        if value % 3 == 0:
            result.append(value + 5)

result

[8, 35]

In [240]:
[value + 5 for v in l for value in v if value % 3 == 0]

[8, 35]

- comprehension 구문은 for문과 if문의 조합이 간단할 때 사용해야 겠다. 
- 처리 속도는 comprehension 속도가 빠르다. 
- comprehension은 python에서만 제공하는 구문이다.

group coding에서 표준화 작업이 중요할 것이다.

# TODO

In [243]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

score = int(input("점수를 입력해주세요. \n점수 : "))

if score > 90:
    print("A학점입니다. 고생하셨습니다.")
elif score > 80:
    print("B학점입니다. 고생하셨습니다.")
elif score > 70:
    print("C학점입니다. 적당히 하셨습니다.")
elif score > 60:
    print("D학점입니다. 그래도 출석한다고 수고하셨습니다.")
else:
    print("F학점입니다. 곧 또 뵙겠습니다.")

점수를 입력해주세요.
점수 :  88

B학점입니다. 고생하셨습니다.

In [254]:
jumsu = int(input("점수를 입력하세요.\n\n점수 :"))
if jumsu < 0 or jumsu > 100:
    print(f"{jumsu}는 잘못된 점수입니다. 0 ~ 100점 사이의 점수를 입력하세요.")
elif jumsu > 90:
    print("A학점입니다.")
elif jumsu > 80:
    print("B학점입니다.")
elif jumsu > 70:
    print("C학점입니다.")
elif jumsu > 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")

점수를 입력하세요.

점수 : 100

A학점입니다.

In [26]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
ID = input("ID: ")

if len(ID) > 4:
    print("사용할 수 있습니다.")
else:
    print("가입할 수 없는 ID입니다.")
    print("5글자 이상 입력하세요.")

ID:  abcde

사용할 수 있습니다.

In [57]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
address = input("주소를 입력해주세요. \n\n주소: ")

if address == "서울":
    print("특별시")
elif address == "인천":
    print("광역시")
elif address == "부산":
    print("광역시")
elif address == "광주":
    print("광역시")
elif address == "대구":
    print("광역시")
elif address == "대전":
    print("광역시")
elif address == "울산":
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다.")

# or를 입력하면 왜 작동이 안 될까?

주소를 입력해주세요.

주소:  서울

특별시

In [263]:
city = input("도시 : ")

if city == "서울":
    print("특별시")
elif city in ["인천","부산","광주","대구","대전","울산"]:
    print("광역시")
else:
    print("특별시나 광역시가 아닙니다.")

# C나 java 등 다른 언어에 switch case 구문이 있다.

도시 :  서울

특별시

In [264]:
#(4-5)
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

average = 0
idx = 0

for i in range(len(jumsu)):
    idx += jumsu[i]

average = idx / len(jumsu)

average

89.0

In [265]:
jumsu_sum =0
for v in jumsu:
    jumsu_sum += v 
print("Sum of the score: ", jumsu_sum)
jumsu_avg = jumsu_sum / len(jumsu)
print("avg: ", jumsu_avg)

Sum of the score:  890
avg:  89.0

In [87]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for i in range(len(jumsu)):
    if jumsu[i] >= average:
        print(i,"-pass")
    else:
        print(i,"-fail")

range(len(jumsu))

0 -pass
1 -pass
2 -pass
3 -fail
4 -fail
5 -pass
6 -fail
7 -pass
8 -pass
9 -fail

range(0, 10)

In [270]:
for idx, v in enumerate(jumsu):
    if v >= jumsu_avg:
        print(f"{idx}-pass, score:{v}")
    else:
        print(f"{idx}-fail, score:{v}")

0-pass, score:100
1-pass, score:90
2-pass, score:100
3-fail, score:80
4-fail, score:70
5-pass, score:100
6-fail, score:80
7-pass, score:90
8-pass, score:95
9-fail, score:85

In [274]:
for idx, v in enumerate(jumsu):
    # print("pass" if v >= jumsu_avg else "fail")
    print(f"{idx}-{"pass" if v >= jumsu_avg else "fail"}({v})")

0-pass(100)
1-pass(90)
2-pass(100)
3-fail(80)
4-fail(70)
5-pass(100)
6-fail(80)
7-pass(90)
8-pass(95)
9-fail(85)

In [277]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력하시오.
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

max_num = 0

for i in range(len(jumsu)):
    if max_num < jumsu[i]:
        max_num = jumsu[i]

max_num

95

In [278]:
sorted(jumsu)[-1]

95

In [280]:
max(jumsu), min(jumsu)

(95, 55)

In [281]:
sum(jumsu)

785

In [64]:
#(7) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "토끼", "뱀", "돼지", "호랑이"]
str_list.remove("쥐")
str_list.remove("토끼")
str_list

['소', '호랑이', '용', '토끼', '뱀', '돼지', '호랑이']

In [283]:
str_list = ["쥐", "소", "호랑이", "토끼", "용", "토끼", "뱀", "돼지", "호랑이"]
for name in str_list:
    if name not in ["쥐", "토끼"]:
        print(name, end=",")

소,호랑이,용,뱀,돼지,호랑이,

In [298]:
lst2 = []
lst2 = list(v for v in str_list if v not in ["쥐", "토끼"])
lst2

['소', '호랑이', '용', '뱀', '돼지', '호랑이']

In [67]:
#(8) 사용자로부터 정수를 입력받아 그 정수 단의 구구단을 출력하시오. 
# ex) 
# 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

#컴프리헨션

a = int(input("단을 입력하시오.\n\n만들 단 : \n"))

for i in range(9):
    print(f"{a} X {i+1} = {a * (i+1)}")

단을 입력하시오.

만들 단 :
 6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

In [291]:
dan = int(input("단을 입력하시오 : "))
for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

단을 입력하시오 :  4

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

In [297]:
# 구구단
for i in range(1,10):
    for j in range(1,10):
        print(f"{j} X {i} = {i*j}", end = "\t")

1 X 1 = 1	2 X 1 = 2	3 X 1 = 3	4 X 1 = 4	5 X 1 = 5	6 X 1 = 6	7 X 1 = 7	8 X 1 = 8	9 X 1 = 9	1 X 2 = 2	2 X 2 = 4	3 X 2 = 6	4 X 2 = 8	5 X 2 = 10	6 X 2 = 12	7 X 2 = 14	8 X 2 = 16	9 X 2 = 18	1 X 3 = 3	2 X 3 = 6	3 X 3 = 9	4 X 3 = 12	5 X 3 = 15	6 X 3 = 18	7 X 3 = 21	8 X 3 = 24	9 X 3 = 27	1 X 4 = 4	2 X 4 = 8	3 X 4 = 12	4 X 4 = 16	5 X 4 = 20	6 X 4 = 24	7 X 4 = 28	8 X 4 = 32	9 X 4 = 36	1 X 5 = 5	2 X 5 = 10	3 X 5 = 15	4 X 5 = 20	5 X 5 = 25	6 X 5 = 30	7 X 5 = 35	8 X 5 = 40	9 X 5 = 45	1 X 6 = 6	2 X 6 = 12	3 X 6 = 18	4 X 6 = 24	5 X 6 = 30	6 X 6 = 36	7 X 6 = 42	8 X 6 = 48	9 X 6 = 54	1 X 7 = 7	2 X 7 = 14	3 X 7 = 21	4 X 7 = 28	5 X 7 = 35	6 X 7 = 42	7 X 7 = 49	8 X 7 = 56	9 X 7 = 63	1 X 8 = 8	2 X 8 = 16	3 X 8 = 24	4 X 8 = 32	5 X 8 = 40	6 X 8 = 48	7 X 8 = 56	8 X 8 = 64	9 X 8 = 72	1 X 9 = 9	2 X 9 = 18	3 X 9 = 27	4 X 9 = 36	5 X 9 = 45	6 X 9 = 54	7 X 9 = 63	8 X 9 = 72	9 X 9 = 81

In [216]:
#(9) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]
lst2 = lst[:]

for i in range(len(lst)):
    lst2[i] = lst[i]*2

print(lst2)

[20, 60, 140, 10, 240, 1400, 2, 70]

In [217]:
lst3 = [v*2 for v in lst]
lst3

[20, 60, 140, 10, 240, 1400, 2, 70]

In [218]:
#(10) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
lst2 = lst[:]

for i in range(len(lst)):
    lst2[i] = lst[i], lst[i] * 10

lst2

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [219]:
lst4 = [(v,v*10) for v in lst]
lst4

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [220]:
#(11) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
lst3 = []

for i in range(len(lst2)):
    if lst2[i] % 3 == 0:
        lst3.append(lst2[i])

lst3

[3, 33, 21, 33, 60, 120]

In [222]:
lst5 = [v for v in lst2 if v % 3 ==0]
lst5

[3, 33, 21, 33, 60, 120]

In [242]:
l3 = []
append 3 to l3

l3

SyntaxError: invalid syntax (1001072606.py, line 2)

In [73]:
#(12) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_names=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
exe_files = []

for i in range(len(file_names)):
    if file_names[i].endswith("exe"):
        exe_files.append(file_names[i])

exe_files

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [74]:
#(13) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_names=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]
long_filename_files = []

for i in range(len(file_names)):
    if len(file_names[i]) >= 10:
        long_filename_files.append(file_names[i])

long_filename_files

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [77]:
#(14) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
# 소문자 리스트 
small_list = []
# 대문자 리스트
up_list = []

for i in range(len(str_list)):
    up_list.append(str_list[i].upper())

for i in range(len(str_list)):
    if up_list[i] != str_list[i]:
        small_list.append(str_list[i])

small_list

['c', 'g', 'h', 'k']